[submodule "lib/Atmosphere-libs"]
	path = lib/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "lib/libryazhahand"]
	path = lib/libryazhahand
	url = https://github.com/Dimanchikgshehsbshene/libryazhahand.git
